.head{
    color:skyblue;
    font-size: 41px;
    text-align: center;
    padding-top: 96px;
}
.box{
    height: 223px;
    background-color: white;
    width: 673px;
    
    margin-left: 317px;
    margin-top: 25px;
    border-radius: 19px;
}

.data{
    margin-top: 45px;
    height: 89px;
    width: 516px;
    border-radius: 15px;
    border-color: skyblue;
    margin-left: 70px;
    border: solid;
}
.last{
    color: skyblue;
    margin-top: 21px;
    margin-left: 408px;
    font-size: 18px;
}
.result{
    margin-left: 14px;
    width: 50px;
}